<p>nav-bar works!</p>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">[108] ERP Project</a>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="converter">Temperature Converter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="about">Who We Are</a>
  </li>
</ul>
</div>
</nav>
</header>

</nav>

<!-- Menus -->
<!--
    Home
    User List
    Register Users
    Login
    About
 -->

 <!-- Add style to register-user.component.css -->

<!-- Install Git for windows -->
<!-- Video of git -->



